doctype html
html
    head
        title= context.title
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src='http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js')
        script(src='/js/app.js')